In [1]:
print ("hello")# hello

hello

# variable assignment
variable assignment

In [2]:
morning_greetings= "good morning"
evening_greetings= "good evening"

In [3]:
print (morning_greetings)

good morning

In [4]:
print (evening_greetings)

good evening

# object types

In [5]:
#boolean
Goodmorning = True
Goodevening = False
type(Goodmorning)

bool

In [6]:
#float - any number with a decimal
float1 = 12.3
type(float1)

float

In [7]:
#integers- any whole number 
integer1 =34
type(integer1)

int

In [8]:
#string - text data
string1 = 'hello'
type(string1)

str

# data types

string

Dictionary

Lists

Sets

Tuples

In [1]:
#String -text data
#immutable- cannot be changed once created
string = "hello"
len(string)
string[3]
#NB- In python indexing always starts at 0

'l'

In [5]:
#lists - strictly uses indexes
list1 =['a','b','c','d','e']
list2 =[1,2,3,4,5,6,7,8]
type(list1)
#1. Mutable - can be altered 
print(len(list1))

list2. append(9) #adds character at the end of the list
print(len(list2))
print(list2)

list2.pop(3) #removes element at index 3
print(list2)

5
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:
#sorting lists
list3 =[12,5,32,1,22,4,7,2]
print(list3)
list3.sort()# sorts the list in ascending order
print(list3)

In [6]:
Fruits = ["apple", "banana", "cherry"]
Fruits.reverse()
Fruits

['cherry', 'banana', 'apple']

Fruits.sort()
Fruits

In [7]:
#tuples -characterized by the normal brackets
Fruits =('apple', 'banana', 'cherry')
type(Fruits)
#immutable -cannot be altered
y = list(Fruits)
y.append('orange')
thistuple = tuple(y)
type(thistuple)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [8]:
Fruits =('apple', 'banana', 'cherry')
type(Fruits)

tuple

# Dictionary

In [ ]:
# It is combination if key value pairs which form an item

In [11]:
Dict1 = {"Name": "John", "Residence": "Kasarani", "Age":23}
type(Dict1)

dict

In [12]:
Dict1.keys()

dict_keys(['Name', 'Residence', 'Age'])

In [13]:
Dict1.values()

dict_values(['John', 'Kasarani', 23])

In [15]:
Dict1["Residence"] = ("kahawa")

In [16]:
Dict1

{'Name': 'John', 'Residence': 'kahawa', 'Age': 23}

In [ ]:
print(Dict1)

In [17]:
Dict1.items()

dict_items([('Name', 'John'), ('Residence', 'kahawa'), ('Age', 23)])

# sets

In [ ]:
#set- doesnt allow duplicates and is mutable and ordered

In [18]:
set1 = {1,2,3,3,4,4,5,3,2,2,4,4,6,7,8,6,10}
set1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

# Conditionals

if- default first condition

elif- between if and else

else- default last condition

In [ ]:
name = "Johnte"
if name == "Mary":
    print (f"hello{name}")
elif name =="John":
    print(f"this is{name}")
else:
    print("name not found")

0-49 - fail

50-59- average

60-69 - pass

70 and above - excellent

In [ ]:
marks = 67
if marks > 0 and marks <= 49:
    print ("failed")
elif marks >=0 and marks<= 59:
    print ("average")
elif marks >= 60 and marks <= 69:
    print ("passed")
elif marks >= 70 and marks <= 100: 
    print("excellent")
else: 
    print ("not in range")

optimum_baking_temperature=200

if it cooks under 100 degrees = undercooked

if the temparature is betweeen 100 and 149 = approaching

if it is between 150 an 199= almost 

if above 220 = way hot

In [ ]:
degrees = 213
if degrees > 0 and degrees <100:
    print("undecooked")
elif degrees >=100 and degrees <= 149: 
    print ("approaching")
elif degrees >= 150 and degrees<= 199:
    print ("almost")
elif degrees >= 200 and degrees <= 220:
    print ("perfect")
else :
    print ("way too hot")

Write an python program that checks whether a number is posittie negative or zero

Write a python program that checks whether a person is either a minor or an adult

Write a python program that checks whether a number is odd or even

Write a python program that checks whether a car is fast

In [24]:
number = 28
if number% 9 == 0:
    print("even")
else:
    print ("odd")

odd

In [ ]:
number = -2
if number <0:
    print ("negative")
elif number == 0:
    print ("zero")
else:
    print("positive")

In [ ]:
age =29
if age <18:
    print("minor")
else:
    print("adult")

# loops

loops are used to iterate over data points in python

we have 2 types of loops

for loops

while loops

In [ ]:
grades = list(range(0,201))
print(grades)

In [ ]:
#for loops
for grade in grades:
    if grade >= 1 and grade <=49:
        print (f"{grade} is grade F")
    elif grade >= 50 and grade <=59:
        print (f"{grade} is grade D")
    elif grade >= 60 and grade <=69:
        print (f"{grade} is grade C")
    elif grade >= 70 and grade <=79:
        print (f"{grade} is grade B")
    elif grade >= 80 and grade <=89:
        print (f"{grade} is grade A-")
    elif grade >= 90 and grade <=100:
        print (f"{grade} is grade A")
    else: 
        print (f"{grade} is invalid")

In [ ]:
cities =["New york","New York City","London","Tokyo","Paris","Toronto","Dubai","São Paulo","Beijing","Istanbul","Los Angeles","Berlin","Cape Town","Mumbai","Seoul","Rome","Bangkok","Chicago","Moscow","Mexico City"]
print (cities)

In [ ]:
city_to_check = "Chicago"
for city in cities:
    if city_to_check in cities:
        print (f"{city_to_check} is in the list of cities")
        found = True
        break
    else:
        print(f"{city_to_check} is not in the list of cities")
        found = False
        break

# while loops

In [ ]:
stop_number = 4
while stop_number> 0:
    print (stop_number)
    stop_number -=1
print ("the stop_number reached", stop_number, "so the while loop's condition became false and stopped execution")

In [ ]:
d

# Nested loops

In [ ]:
outer_numbers = [1,2,3]
inner_words =["one", "two", "three"]
for number in outer_numbers:
    print(f"this is iteration **{number}** of the OUTER loop")
    for word in inner_words:
        print(f"this is iteration *{word}* of the INNER loop")
    print("\n")

Write a program that adds numbers 1- 100

Write a program that prints all even numbers from 1- 20

Write a program that counts the number of vowels in a given string

In [ ]:
total_sum = 0
for number in range (1, 101):
    total_sum += number
print (" The sum of numbers from 1-100 is:" ,total_sum)

In [ ]:
for number in range (1,21):
    if number % 2 == 0:
        print(f"{number} is even")

# Functions

In [ ]:
# Function to calculate mean of diff numbers
def mean(data):
    mean = sum(data)/len(data)
    return mean

In [ ]:
data1 = 1,2,3,4,5,6,
data2 = 7,8,9,10,11

In [ ]:
mean(data1)

In [ ]:
mean(data2)

In [ ]:
def greet_employees(data):
    welcome_messages =[]
    for new_employee in data:
        welcome_messages.append("Hi " + new_employee.title() + ", Im so glad to be working with you!")

    return welcome_messages

In [ ]:
data1 = ["Mary", "Sandra","Jacob"]
data2 = ["Gabriel","Raphael","Micheal","Jamal","John"]

In [ ]:
greet_employees(data1)

In [6]:
#functions with arguments
def find_the_mean(list_nums):
    length = len(list_nums)
    total = sum(list_nums)
    return total/length
def find_biggest_pop(list_pops_one,list_pops_two):
    mean_one = find_the_mean(list_pops_one)
    mean_two = find_the_mean(list_pops_two)
    if (mean_one > mean_two):
        return print ("The first list,", list_pops_one , "has the larger mean population of",mean_one, "compared to",mean_two)
    else:
        return print ("The first list,", list_pops_one , "has the larger mean population of",mean_two, "compared to",mean_one)

In [7]:
area_one_pops = [43333,4798,89689,75868,37868]
area_two_pops = [768766,7678,86,875765,887]

find_biggest_pop(area_one_pops,area_two_pops)

In [8]:
find_biggest_pop(area_one_pops,area_two_pops)

The first list, [43333, 4798, 89689, 75868, 37868] has the larger mean population of 330636.4 compared to 50311.2

In [9]:
def hydration_func(water,hydration):
    #in gallons
    while hydration < 100 and water > 0:
        print('---[sips water]---')
        water -= 10
        print ('ah that was refreshing')
        print(f'water level:{water}%')
        hydration += 10
        print('hydration is now at', hydration, '%\n')
        if hydration >= 100:
            break 
    return hydration_func

In [10]:
water = 100
hydration= 0

In [11]:
hydration_func(water,hydration)

---[sips water]---
ah that was refreshing
water level:90%
hydration is now at 10 %

---[sips water]---
ah that was refreshing
water level:80%
hydration is now at 20 %

---[sips water]---
ah that was refreshing
water level:70%
hydration is now at 30 %

---[sips water]---
ah that was refreshing
water level:60%
hydration is now at 40 %

---[sips water]---
ah that was refreshing
water level:50%
hydration is now at 50 %

---[sips water]---
ah that was refreshing
water level:40%
hydration is now at 60 %

---[sips water]---
ah that was refreshing
water level:30%
hydration is now at 70 %

---[sips water]---
ah that was refreshing
water level:20%
hydration is now at 80 %

---[sips water]---
ah that was refreshing
water level:10%
hydration is now at 90 %

---[sips water]---
ah that was refreshing
water level:0%
hydration is now at 100 %

In [12]:
def city_checker(city):
    for city in cities:
        if city_to_check in cities:
            print (f"{city_to_check} is in the list of cities")
            found = True
            break
        else:
            print(f"{city_to_check} is not in the list of cities")
            found = False
            break
    return city_checker

In [13]:
city_to_check = "Mumbai"

In [14]:
city_checker(city)

NameError: name 'city' is not defined

In [15]:
import numpy as np

In [16]:
! pip install numpy

Requirement already satisfied: numpy in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (2.2.4)

In [17]:
import numpy as np
grades = np.arange (50,101)
print (grades)

[ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100]

In [18]:
mean = np.mean(grades)
mean

np.float64(75.0)

In [19]:
standard_deviation = np.std(grades)
standard_deviation

np.float64(14.719601443879744)

In [20]:
np.std(grades)

np.float64(14.719601443879744)

In [ ]:
standard_deviation